.git
.gitignore
.github
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
*.egg
.pre-commit-config.yaml
.pre-commit-framework/
tests/
notebooks/
README.md
LICENSE
*.md
